@font-face {
  font-family: "HarmonyOS Sans";
  src: url("./HarmonyOS_Sans_SC_Thin.woff2") format("woff2"),
    url("./HarmonyOS_Sans_SC_Thin.woff") format("woff"),
    url("./HarmonyOS_Sans_SC_Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("./HarmonyOS_Sans_SC_Light.woff2") format("woff2"),
    url("./HarmonyOS_Sans_SC_Light.woff") format("woff"),
    url("./HarmonyOS_Sans_SC_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("./HarmonyOS_Sans_SC_Regular.woff2") format("woff2"),
    url("./HarmonyOS_Sans_SC_Regular.woff") format("woff"),
    url("./HarmonyOS_Sans_SC_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("./HarmonyOS_Sans_SC_Medium.woff2") format("woff2"),
    url("./HarmonyOS_Sans_SC_Medium.woff") format("woff"),
    url("./HarmonyOS_Sans_SC_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("./HarmonyOS_Sans_SC_Bold.woff2") format("woff2"),
    url("./HarmonyOS_Sans_SC_Bold.woff") format("woff"),
    url("./HarmonyOS_Sans_SC_Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("./HarmonyOS_Sans_SC_Black.woff2") format("woff2"),
    url("./HarmonyOS_Sans_SC_Black.woff") format("woff"),
    url("./HarmonyOS_Sans_SC_Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root:root {
  --el-font-family: "HarmonyOS Sans", "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-family: var(--el-font-family);
}

body {
  font-family: var(--el-font-family);
}

button,
input,
select,
textarea {
  font-family: inherit;
}
